extends layout

block content
  h1 Edit User
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
  form.form-horizontal(action=`/users/update/${user._id}`, method='post', enctype='multipart/form-data')
    .form-group
      label.col-sm-2.control-label(for='name') Name:
      .col-sm-10
        input.form-control(type='text', name='name', id='name', value=user.name)
    .form-group
      label.col-sm-2.control-label(for='email') Email:
      .col-sm-10
        input.form-control(type='email', name='email', id='email', value=user.email, required)
    .form-group
      label.col-sm-2.control-label(for='profileimage') Profile Image URL:
      .col-sm-10
        img(src=user.profileimage, alt='Profile Image', style='max-width: 50px; max-height: 50px;')
        input.form-control(type='file', name='profileimage', value=user.profileimage)
    .form-group
      label.col-sm-2.control-label(for='contact') Contact:
      .col-sm-10
        input.form-control(type='text', name='contact', id='contact', value=user.contact)
    .form-group
      label.col-sm-2.control-label(for='role') Role:
      .col-sm-10
        select.form-control(name='role', id='role', required)
          option(value='user', selected=user.role==='user') User
          option(value='admin', selected=user.role==='admin') Administrator
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Save
